<!--<app-processing #processing [stateChange]="userServices.stateChange"></app-processing>-->
<app-processing #processing [stateChange]="accountsService.stateChange"></app-processing>
<div class="row card-row">
    <div class="col-sm-4 col-md-5">
        <div class="card-wrapper">
            <div class="card-number">{{getFormattedCardNumber(account.cardNumber)}}</div>
        </div>
    </div>
    <div class="col-sm-8 col-md-7">
        <h4>{{account.accountName}}</h4>
        <p><b>{{getFormattedCardNumber(account.cardNumber)}}</b></p>
        <p>Balance: <strong>{{account.currencyCodeString}} {{account.balance}}</strong>&nbsp;<app-spinner-round *ngIf="!account.balance"></app-spinner-round></p>

        <button id="lostCard" name="lostCard" type="button" class="btn btn-outline-primary" (click)="modalService.open(modalContent)">
            Set PIN
        </button>
    </div>
</div>

<ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="lostModalLabel">Set PIN</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <div *ngIf="!setPINFlag">
                New PIN: <input type="number" required [(ngModel)]="pin" />
            </div>
            <div *ngIf="setPINFlag && !confirmFlag">
                Confirm Password: <input type="password" required [(ngModel)]="password" />
            </div>
            <div *ngIf="confirmFlag">
                {{ message }}
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!setPINFlag" type="button" class="btn btn-primary" (click)="setPIN()">Set PIN</button>
            <button *ngIf="setPINFlag && !confirmFlag" type="button" class="btn btn-primary" (click)="confirmPIN()">Confirm</button>
            <button *ngIf="confirmFlag" type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
            <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
        </div>
    </div>
</ng-template>
