<h2>{{headerText}}</h2>

<div *ngIf="userDetails"> 
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="firstName" class="col-md-4 col-form-label text-right">User Number: </label>

                <input type="text" [(ngModel)]="userDetails.userNumber" placeholder="User Number" class="form-control" id="userNumber" readonly />

            </div>


            <div class="form-group">
                <label for="firstName" class="col-md-4 col-form-label text-right">First Name: </label>

                <input type="text" [(ngModel)]="userDetails.firstName" placeholder="First Name" class="form-control" id="firstName" />

            </div>


            <div class="form-group">
                <label for="lastName" class="col-md-4 col-form-label text-right">Last Name: </label>

                <input type="text" [(ngModel)]="userDetails.lastName" placeholder="Last Name" class="form-control" id="lastName" />

            </div>


            <div class="form-group">
                <label for="email" class="col-md-4 col-form-label text-right">Email: </label>

                <input type="text" [(ngModel)]="userDetails.email" placeholder="Email" class="form-control" id="email" />


            </div>


            <div class="form-group">
                <label for="email" class="col-md-4 col-form-label text-right">Phone: </label>

                <input type="text" [(ngModel)]="userDetails.phoneNumber" placeholder="Phone Number" class="form-control" id="phoneNumber" />

            </div>

            <div class="form-group">
                <label for="email" class="col-md-4 col-form-label text-right">Verified: </label>

                <label class="switch">
                    <input type="checkbox" class="success" [(ngModel)]="userDetails.emailConfirmed" id="emailConfirmed">
                    <span class="slider round"></span>
                </label>
            </div>


            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <br />
                    <button type="submit" class="btn btn-primary" (click)="updateUserDetails()">Save Changes</button>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div>Last Login: {{ userDetails.dateLastAccessed }}</div>
            <div>Is Email Confirmed: {{ userDetails.emailConfirmed }}</div>
            <div>Is Phone Confirmed: {{ userDetails.phoneNumberConfirmed }}</div>
            <div *ngIf="userDetails.affiliatedWithUser">
                <br />
                <div>
                    Affiliated With: <a [routerLink]="['/users/details', userDetails.affiliatedWithUserId]">{{userDetails.affiliatedWithUser.firstName}} {{userDetails.affiliatedWithUser.lastName}} </a>
                </div>
                <div *ngIf="userDetails.affiliateTokenUsed">
                    Affiliate Token Used: {{userDetails.affiliateTokenUsed}}
                </div>
            </div>
            <br />
            <div *ngIf="userDetails.roles">
                <label for="isPhoneConfirmed" class="col-form-label text-left">Roles:</label>
                <div *ngFor="let role of userDetails.roles; index as i; first as isFirst;trackBy: role">
                    <span>{{role}}&nbsp;<span class="fa fa-minus mouseCursorPointer" (click)="removeRole(role)"></span></span>
                </div>
                <div *ngIf="avRoles.length > 0">
                    <span>Add new role </span>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary fa fa-plus" id="dropdownBasic1" ngbDropdownToggle></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item" *ngFor="let role of avRoles" (click)="addRole(role.name)">{{role.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div *ngIf="userDetails.accounts">
        <h2>Accounts</h2>
        <ngx-datatable class="table_embily_light"
                       [rows]="userDetails.accounts"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [summaryPosition]="'bottom'"
                       [limit]="20"
                       [reorderable]="true"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [scrollbarV]="false"
                       [scrollbarH]="true"
                       [selected]="selected"
                       [selectionType]="'single'"
                       (select)='onSelectAccounts($event)'>

            <ngx-datatable-column name="Account" [width]="100" prop="accountNumber"></ngx-datatable-column>
            <ngx-datatable-column name="Account Name" [width]="100" prop="accountName"></ngx-datatable-column>
            <ngx-datatable-column name="Account Type" [width]="100" prop="accountTypeString"></ngx-datatable-column>
            <ngx-datatable-column name="Currency" [width]="100" prop="currencyCodeString"></ngx-datatable-column>
            <ngx-datatable-column name="Provider" [width]="100" prop="providerNameString"></ngx-datatable-column>
            <ngx-datatable-column name="Provider Acct" [width]="100" prop="providerAccountNumber"></ngx-datatable-column>
        </ngx-datatable>
        <div>
            <button *ngIf="!isUSDAffiliateAccount" type="button" class="btn btn-primary" (click)="createAffiliateAccount('USD')">Create Affiliate Account (USD)</button>
            &nbsp;<button *ngIf="!isEURAffiliateAccount" type="button" class="btn btn-primary" (click)="createAffiliateAccount('EUR')">Create Affiliate Account (EUR)</button>
        </div>
    </div>
    <br />
    <div *ngIf="transactions">
        <h2>Transactions</h2>
        <ngx-datatable class="table_embily_light"
                       [rows]="transactions"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [summaryPosition]="'bottom'"
                       [limit]="20"
                       [reorderable]="true"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [scrollbarV]="false"
                       [scrollbarH]="true"
                       [selected]="selected"
                       [selectionType]="'single'"
                       (select)='onSelectAccounts($event)'>

            <ngx-datatable-column name="Created (UTC)" [width]="100" prop="dateCreated">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'dd MMM yyyy' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Account" [width]="100" prop="accountId"></ngx-datatable-column>
            <ngx-datatable-column name="Txn Num" [width]="100" prop="transactionNumber"></ngx-datatable-column>
            <ngx-datatable-column name="Crypto Txn Id(hash)" [width]="150" prop="cryptoTxnLink"></ngx-datatable-column>
            <ngx-datatable-column name="Code" [width]="100" prop="txnCode"></ngx-datatable-column>
            <ngx-datatable-column name="From" [width]="100" prop="originalCurrencyCode"></ngx-datatable-column>
            <ngx-datatable-column name="Amount" [width]="100" prop="originalAmount"></ngx-datatable-column>
            <ngx-datatable-column name="To" [width]="100" prop="destinationCurrencyCode"></ngx-datatable-column>
            <ngx-datatable-column name="Amount" [width]="100" prop="destinationAmount"></ngx-datatable-column>
            <ngx-datatable-column name="Status" [width]="100" prop="statusString"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <br />
    <div *ngIf="affiliates.length > 0">
        <h2>Affiliated</h2>
        <ngx-datatable class="table_embily_light"
                       [rows]="affiliates"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [summaryPosition]="'bottom'"
                       [limit]="20"
                       [reorderable]="true"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [scrollbarV]="false"
                       [scrollbarH]="true"
                       [selected]="selected"
                       [selectionType]="'single'"
                       (select)='onSelectUsers($event)'>

            <ngx-datatable-column name="User Number" [width]="100" prop="userNumber"></ngx-datatable-column>
            <ngx-datatable-column name="First Name" [width]="100" prop="firstName"></ngx-datatable-column>
            <ngx-datatable-column name="Last Name" [width]="150" prop="lastName"></ngx-datatable-column>
            <ngx-datatable-column name="User Name" [width]="100" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Verified" [width]="100" prop="emailConfirmed"></ngx-datatable-column>
            <ngx-datatable-column name="Phone Number" [width]="100" prop="phoneNumber"></ngx-datatable-column>
            <ngx-datatable-column name="Last Accessed" [width]="100" prop="dateLastAccessed">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'dd MMM yyyy' }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
