<h1 mat-dialog-title>User {{data.email}}</h1>

	<form [formGroup]="userForm" #formDir="ngForm">
		<div fxLayout="column" fxLayoutAlign="space-around center">
			<div class="input-row">
				<mat-form-field fxFlex>
					<input matInput placeholder="Email" autocomplete="off" [formControl]="email">
					<mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
				</mat-form-field>
			</div>
			<div class="input-row">
				<mat-form-field fxFlex>
					<input matInput placeholder="First Name" autocomplete="off" [formControl]="firstName">
					<mat-error *ngIf="firstName.hasError('required')">Fist Name is required.</mat-error>
				</mat-form-field>
			</div>
			<div class="input-row">
				<mat-form-field fxFlex>
					<input matInput placeholder="Last Name" autocomplete="off" [formControl]="lastName">
					<mat-error *ngIf="lastName.hasError('required')">Last Name is required.</mat-error>
				</mat-form-field>
			</div>
			<div class="input-row">
				<mat-form-field fxFlex>
					<input matInput placeholder="Phone" autocomplete="off" formControlName="phoneNumber">
				</mat-form-field>
			</div>
			<div class="input-row">
				<mat-form-field fxFlex>
					<input matInput placeholder="Date last accessed" autocomplete="off"
					formControlName="dateLastAccessed">
				</mat-form-field>
			</div>
			<div class="input-row-check">
				<mat-checkbox fxFlex formControlName="phoneNumberConfirmed">
					Phone confirmed
				</mat-checkbox>
			</div>
			<div class="input-row-check">
				<mat-checkbox fxFlex formControlName="emailConfirmed">
					Email confirmed
				</mat-checkbox>
			</div>
			<div>
					<button mat-button (click)="onNoClick()">Cancel</button>
					<button mat-button (click)="updateUser()" class="updateButton"
						cdkFocusInitial>Update</button>
			</div>
		</div>
	</form>


	
