.ngx-datatable.table_embily_light {
    background: #FFF;
    box-shadow: none;
    font-size: 13px;

    &.striped {
        .datatable-row-odd {
            background: #eee;
        }
    }
    /**
	 * Header Styles
	 */
    .datatable-header {
        height: unset !important;
        background-color: #6280fc !important;

        .datatable-header-cell {
            vertical-align: bottom;
            padding: 0.75rem;
            /*border: 1px solid #d1d4d7;*/
            .datatable-header-cell-label {
                line-height: 24px;
            }
        }

        .datatable-header-cell-label {
            color: #e3e3e3;
        }

        .resize-handle {
            visibility: visible !important;
            border-right: solid 1px #eee;
        }
    }
    /**
	 * Body Styles
	 */
    .datatable-body {
        .datatable-body-row {
            vertical-align: top;
            /*border-top: 1px solid #d1d4d7;*/
            &.datatable-row-even {
                background-color: rgba(0, 0, 0, 0.05);
            }

            &.active {
                background-color: #1483ff;
                color: #FFF;
            }

            .datatable-body-cell {
                padding: 0.75rem;
                text-align: left;
                vertical-align: top;
                cursor: pointer;
            }
        }
    }
    /**
	 * Footer Styles
	 */
    .datatable-footer {
        /*border-top: 1px solid rgba(0, 0, 0, 0.12);*/
        font-size: 12px;
        font-weight: 400;
        color: rgba(0,0,0,.54);

        .page-count {
            line-height: 50px;
            height: 50px;
            padding: 0 1.2rem;
            visibility: hidden;
        }

        .datatable-pager {
            margin: 0 10px;

            li {
                vertical-align: middle;

                &.disabled a {
                    color: rgba(0, 0, 0, 0.26) !important;
                    background-color: transparent !important;
                }

                &.active a {
                    background-color: rgba(158,158,158,0.2);
                    font-weight: bold;
                }
            }

            a {
                height: 22px;
                min-width: 24px;
                line-height: 22px;
                padding: 0 6px;
                border-radius: 3px;
                margin: 6px 3px;
                text-align: center;
                vertical-align: top;
                color: rgba(0,0,0,.54);
                text-decoration: none;
                vertical-align: bottom;

                &:hover {
                    color: rgba(0,0,0,.75);
                    background-color: rgba(158,158,158,0.2);
                }
            }

            .datatable-icon-left,
            .datatable-icon-skip,
            .datatable-icon-right,
            .datatable-icon-prev {
                font-size: 20px;
                line-height: 20px;
                padding: 0 3px;
            }
        }
    }
    // Summary row styles
    .datatable-summary-row {
        .datatable-body-row {
            background-color: #ddd;

            &:hover {
                background-color: #ddd;
            }

            .datatable-body-cell {
                font-weight: bold;
            }
        }
    }
}

/**
 * Checkboxes
**/
.datatable-checkbox {
    position: relative;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;

    input[type='checkbox'] {
        position: relative;
        margin: 0 1rem 0 0;
        cursor: pointer;
        outline: none;

        &:before {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            z-index: 1;
            width: 1rem;
            height: 1rem;
            border: 2px solid #f2f2f2;
        }

        &:checked:before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            height: .5rem;
            border-color: #009688;
            border-top-style: none;
            border-right-style: none;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            background: #fff;
            cursor: pointer;
        }
    }
}

/**
 * Progress bar animations
 */
@keyframes query {
    0% {
        opacity: 1;
        transform: translateX(35%) scale(.3, 1);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) scale(0, 1);
    }
}
