<div class="container" id="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Change Password</h1>
            <form #pwdForm="ngForm" (ngSubmit)="onSubmit(pwdForm)" confirmPassword novalidate>
                <div [hidden]="pwdForm.submitted">
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input id="currentPassword" name="currentPassword" class="form-control" type="password" required [(ngModel)]="user.currentPassword"
                               #currentPassword="ngModel">
                        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="alert alert-danger">
                            <div *ngIf="currentPassword.errors.required">Current Password is required.</div>
                        </div>
                    </div>
                    <div ngModelGroup="passwords" id="password-formgroup">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input id="password" name="password" class="form-control" type="password" required minlength="8" pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=?*()/<>.!:;_-]).*$" [(ngModel)]="user.newPassword" #password="ngModel">
                            <div *ngIf="password.pristine" class="alert alert-warning">New Password should be 8 characters long or greater and include 1 Uppercase, 1 Lowercase and 1 special character</div>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required">New Password is required.</div>
                                <div *ngIf="password.errors.minlength">New Password must be at least 8 characters long.</div>
                                <div *ngIf="password.errors.pattern">New Password should include <b>1 Uppercase, 1 Lowercase and 1 special character</b></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input id="confirmPassword" name="confirmPassword" class="form-control" type="password" required [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" [disabled]="pwdForm.invalid || pwdForm.pending">
                        <app-spinner-round *ngIf="spinner"></app-spinner-round>
                        Submit
                    </button>
                </div>
                <div class="submitted-message alert alert-danger" *ngIf="error">
                    <p><strong>Error changing your password!</strong></p>
                </div>
                <div class="submitted-message alert alert-success" *ngIf="complete">
                    <p><strong>Your password has been changed successfully!</strong></p>
                </div>
                <div *ngIf="confirmPassword.touched || password.touched">
                    <!--<show-errors [control]="pwdForm"></show-errors>-->
                </div>
            </form>
        </div>
    </div>
</div>
