<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <!--<span>{{ 'Collapse Sidebar' | translate }}</span>-->
    </div>
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-home"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['applications']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-id-badge"></i>&nbsp;
            <span>{{ 'Applications' | translate }}</span>
        </a>
        <a [routerLink]="['users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        <a [routerLink]="['accounts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-address-card-o"></i>&nbsp;
            <span>{{ 'Accounts' | translate }}</span>
        </a>
        <a [routerLink]="['transactions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-exchange"></i>&nbsp;
            <span>{{ 'Transactions' | translate }}</span>
        </a>
        <a [routerLink]="['affiliates']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-graduation-cap"></i>&nbsp;
            <span>{{ 'Affiliates' | translate }}</span>
        </a>
        <a [routerLink]="['programs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-handshake-o"></i>&nbsp;
            <span>{{ 'Programs' | translate }}</span>
        </a>
        <div class="header-fields">
            <a class="list-group-item" [routerLink]="['login']" (click)="logout()">
                <i class="fa fa-fw fa-power-off"></i>&nbsp;
                <span>{{ 'LogOut' | translate }}</span>
            </a>
        </div>
    </div>

</nav>
