:host()

.wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}


/* small devices, iPhone */
.numberCircle {
    width: 2.5rem;
    font-size: 0.75rem;
    line-height: 2rem;
    color: #aaa;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin: 0 auto;
}

.step-active > .numberCircle {
    color: #555;
    border-color: #555;
    font-weight: bold;
}

.stepTitle {
    font-size: 0.5rem;
    color: #aaa;
}

.stepTitle-active {
    border-bottom: 3px solid #555;
    color: #555;
    font-weight: bold;
}

/* large devices and also landscape mode for iPhone */
@media (min-width: 768px) {
    .numberCircle {
        width: 5rem;
        font-size: 2rem;
        line-height: 4rem;
        color: #aaa;
        border-radius: 50%;
        border: 3px solid #aaa;
        margin: 0 auto;
    }

    .step-active > .numberCircle {
        color: #555;
        border-color: #555;
        font-weight: bold;
    }

    .stepTitle {
        font-size: 1rem;
        color: #aaa;
    }

    .stepTitle-active {
        border-bottom: 3px solid #555;
        color: #555;
        font-weight: bold;
    }
}

/* Medium devices (desktops, 992px and up)       */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
