<h1>
    Users
    <button type="button" (click)="getUsers()" class="btn btn-link"><span class="fa fa-refresh" aria-hidden="true"></span></button>
    <!--<button type="button" (click)="showModal(content)" class="btn btn-link">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </button>-->
    <button class="btn btn-link" (click)="goToRoles()">Roles</button>
</h1>

<ngx-datatable class="table_embily_light"
               [rows]="data.users"
               [loadingIndicator]="loadingIndicator"
               [columnMode]="'force'"
               [headerHeight]="40"
               [summaryRow]="false"
               [summaryPosition]="'bottom'"
               [limit]="20"
               [reorderable]="true"
               [footerHeight]="50"
               [rowHeight]="50"
               [scrollbarV]="false"
               [scrollbarH]="true"
               [selected]="selected"
               [selectionType]="'single'"
               (select)='onSelect($event)'>

    <ngx-datatable-column name="User Number" [width]="130" prop="userNumber">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">User Number</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "userNumber")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ProgramId" [width]="100" prop="programId">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Program</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "programId")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="First Name" [width]="100" prop="firstName">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">First Name</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "firstName")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Name" [width]="100" prop="lastName">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Last Name</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "lastName")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="User Name" [width]="100" prop="email">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">User Name</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "email")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Verified" [width]="50" prop="emailConfirmed"></ngx-datatable-column>
    <ngx-datatable-column name="Phone Number" [width]="110" prop="phoneNumber">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Phone Number</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "phoneNumber")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Accessed" [width]="140" prop="dateLastAccessed">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Last Accessed</span>
            <br />
            <input style="height: 20px; width:100%" class="form-control" placeholder='' (keyup)='updateFilter($event, "dateLastAccessed")' />
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="dbupdate">
    <h4>User details updated successfully.</h4>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add new user</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">User Number</label>
            <input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">
        </div>
        <div class="form-group">
            <label for="name">First Name</label>
            <!--<input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">-->
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <!--<input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">-->
        </div>
        <div class="form-group">
            <label for="name">User Name</label>
            <!--<input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">-->
        </div>
        <div class="form-group">
            <label for="name">Verified</label>
            <!--<input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">-->
        </div>
        <div class="form-group">
            <label for="name">Phone Number</label>
            <!--<input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">-->
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="add()" [disabled]="!name">Add New</button>
    </div>
</ng-template>

<div *ngIf="!data.users">
    <app-spinner-rect></app-spinner-rect>
</div>
