<div>
    Application (Ref: {{app.reference}}) {{app.currencyCodeString}} {{app.statusString}}&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="app.statusString == 'Started'" class="btn btn-group-xs btn-success" [routerLink]="['/application', app.currencyCodeString, 'terms', app.applicationId]">continue</a>
    <a *ngIf="app.statusString == 'Rejected'" class="btn btn-group-xs btn-success" [routerLink]="['/application', app.currencyCodeString, 'terms', app.applicationId]" [queryParams]="{ resubmit: true}">edit & re-submit</a>
    <br />
    <br />

    <div *ngIf="app.comments && app.statusString == 'Rejected'">
        <div>{{rejectedInfo.Reason}}</div>
        <br />
        <div [innerHTML]="rejectedInfo.Description"></div>
        <div><i>{{rejectedInfo.MoreInfo}}</i></div>
    </div>

    <div *ngIf="app.statusString == 'Started'">
        Thank you for your interest in our service! Please, do not hesitate to contact
        our Customer Support if you have any questions. Just click blue Help button in the lower right corner.
    </div>

    <div *ngIf="app.statusString == 'Submitted'">
        Thank you for submitting your application! We will notify you when we start processing your
        application. Application processing usually takes up to 2 business days
    </div>

    <div *ngIf="app.statusString == 'Processing'">
        We are processing your application. Application processing usually takes up to 2 business days to complete.
    </div>

    <div *ngIf="app.statusString == 'AwaitingPayment'">
        We have detected you payment in Blockchain. When the funds arrive we will start processing
        of your application with 2 business days.
    </div>
    <br />
</div>
