<div *ngFor="let account of accounts" class="row">
    <div class="col-sm-4 col-md-5">
        <div class="card-wrapper">
            <img src="assets/images/themes/{{data.theme.name}}/affiliate.png" alt="" class="">
        </div>
    </div>
    <div class="col-sm-8 col-md-7">
        <h4>{{account.accountName}}</h4>
        <p>
            Balance: <strong>{{account.currencyCodeString}} {{account.balance}}</strong>
        </p>
        <hr />
        <div class="text-center">
            <div class="">
                <button class="btn btn-outline-success btn-sm" type="button" [disabled]="account.balance < limit" title="minimal amount {{limit}}"
                        (click)="showModal(content, account.currencyCodeString, account.accountId, account.accountNumber, account.accountName, account.balance)">
                    Redeem
                </button>
            </div>
        </div>
        <br />
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Redeem Balance</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <app-processing #processing [stateChange]="affiliateService.stateChange"></app-processing>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Form
                </p>
                <p class="account-name">
                    {{redeemFromAccountName}}
                </p>
                <p>
                    To
                </p>
                <p class="account-name">
                    {{redeemToAccountNumber}}
                </p>
            </div>
            <div class="col-md-2 balance">
                <b>{{redeemCurrencyCode}}</b>&nbsp;<b>{{redeemBalance}}</b>
            </div>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
        <button *ngIf="!complete" type="button" class="btn btn-primary" (click)="redeem()" [disabled]="disableRedeemButton">Redeem</button>
    </div>
</ng-template>
