<h1>
    Applications
    <button type="button" (click)="getData()" class="btn btn-link"><span class="fa fa-refresh" aria-hidden="true"></span></button>
</h1>

<ngx-datatable [ngClass]="style"
               [rows]="data.applications"
               [loadingIndicator]="loadingIndicator"
               [columnMode]="'force'"
               [headerHeight]="40"
               [summaryRow]="false"
               [summaryPosition]="'bottom'"
               [limit]="20"
               [reorderable]="true"
               [footerHeight]="50"
               [rowHeight]="50"
               [scrollbarV]="false"
               [scrollbarH]="true"
               [selected]="selected"
               [selectionType]="'single'"
               (select)='onSelect($event)'>

    <ngx-datatable-column [sortable]="true"
                          [canAutoResize]="true"
                          name="Application Number" prop="applicationNumber">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Application Number</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "applicationNumber")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Reference" [width]="120" prop="reference">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Reference</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "reference")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="First Name" [width]="100" prop="firstName">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">First Name</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "firstName")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Last Name" [width]="100" prop="lastName">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Last Name</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "lastName")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="User Name" [width]="100" prop="email">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">User Name</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "email")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Account Type" [width]="140" prop="accountType"></ngx-datatable-column>
    <ngx-datatable-column name="Currency" [width]="100" prop="currencyCodeString"></ngx-datatable-column>
    <ngx-datatable-column name="Status" [width]="100" prop="status"></ngx-datatable-column>
    <ngx-datatable-column name="Created (UTC)" [width]="100" prop="dateCreated">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd MMM yyyy' }}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="!data.applications">
    <app-spinner-rect></app-spinner-rect>
</div>
