<h1>
    Transactions
    <button type="button" (click)="getData()" class="btn btn-link">
        <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
</h1>

<ngx-datatable class="table_embily_light"
               [rows]="transactions"
               [loadingIndicator]="loadingIndicator"
               [columnMode]="'force'"
               [headerHeight]="40"
               [summaryRow]="false"
               [summaryPosition]="'bottom'"
               [reorderable]="true"
               [footerHeight]="50"
               [rowHeight]="50"
               [scrollbarV]="false"
               [scrollbarH]="true"
               [externalPaging]="true"
               [count]="page.totalElements"
               [offset]="page.pageNumber"
               [limit]="page.size"
               (page)='setPage($event)'>

    <ngx-datatable-column name="Created (UTC)" [width]="115" prop="dateCreated">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd MMM yyyy' }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Reference" [width]="120" prop="reference">
        <span class="sort-btn"></span>
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Reference</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "reference")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="GroupRef" [width]="120" prop="txnGroupRef">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">GroupRef</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "txnGroupRef")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Account Number" [width]="130" prop="account">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Account Number</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='accountNumberFilter($event, "account")' />
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            <a *ngIf="value != ''" routerLink='/accounts/{{value.accountId}}/'
               title="{{value.accountNumber}}">
                {{ value.accountNumber }}
            </a>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Crypto Txn Id (hash)" [width]="145" prop="cryptoTxnId">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a *ngIf="value != ''" target='_blank' href='https://live.blockcypher.com/{{row.originalCurrencyCode.toLowerCase()}}/tx/{{value}}/'
               title="{{value}}">
                {{ value.substr(0, 6) }}...{{ value.substr(-6) }}
            </a>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Code" [width]="80" prop="txnCode">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Code</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='updateFilter($event, "txnCode")' />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="From" [width]="50" prop="originalCurrencyCode"></ngx-datatable-column>
    <ngx-datatable-column name="Amount" [width]="80" prop="originalAmount"></ngx-datatable-column>
    <ngx-datatable-column name="To" [width]="50" prop="destinationCurrencyCode"></ngx-datatable-column>
    <ngx-datatable-column name="Amount" [width]="70" prop="destinationAmount">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value.toFixed(2) }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="FX Fees" [width]="80" prop="exchangeFee"></ngx-datatable-column>
    <ngx-datatable-column name="Status" [width]="80" prop="status"></ngx-datatable-column>

</ngx-datatable>

<div *ngIf="!transactions">
    <app-spinner-rect></app-spinner-rect>
</div>
