<div class="container" id="content">
    <h2>Email Confirmation</h2>
    <div *ngIf="spinner">
        <app-spinner-round></app-spinner-round> Confirming your email...
    </div>
    <div *ngIf="!error">
        <div class="alert alert-success" role="alert">
            <p><b>Thank you</b> for confirming your email! Please, <a [routerLink]="['/login']" class="alert-link">click here to Log in >>></a>.</p>
        </div>
    </div>
    <div *ngIf="error">
        <div class="alert alert-danger" role="alert">
            <p>Error confirming your email.</p>
        </div>
    </div>
</div>
