<div *ngIf="status == 'success'" class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    A new token has been created<br />
</div>
<div *ngIf="tokens">
    <div class="row" *ngFor="let token of tokens">
        <div class="col-md-12">
            {{token.token}}&nbsp;&nbsp;<span class="fa fa-clipboard e-hand" title="copy token link" (click)="copyTokenLink(token.token)"></span>
            &nbsp;&nbsp;<a href="/home/{{token.token}}" target="_blank"><span class="fa fa-external-link e-hand" title="open in new window" (click)="openInLink(token.token)"></span></a>
            <i *ngIf="token.description">&nbsp;-&nbsp;{{token.description}}</i>&nbsp;<span class="fa fa-arrow-down e-hand" title="deactivate token" (click)="deactivateToken(token.affiliateTokenId)"></span>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<form role="form" class="create-token-form">
    <div class="input-group">
        <input id="description" name="description" required [(ngModel)]="descriptionToken" #email="ngModel" type="text" class="form-control" placeholder="token description" aria-label="...">
        <div class="input-group-btn">
            <button (click)="createToken()" class="btn btn-outline-primary">
                <app-spinner-round *ngIf="spinner"></app-spinner-round> Create
            </button>
        </div>
    </div>
</form>
<br />
<a class="link" (click)="modalService.open(modalContent, { size: 'lg' })">view tokens</a>

<ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="lostModalLabel">Tokens</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="header">
                <div id="square" class="purple">
                </div>
                clicked
                <div id="square" class="blue">
                </div>
                registered
                <div id="square" class="green">
                </div>
                applied
                <div id="square" class="turquoise">
                </div>
                transacting
            </div>
            <br />
            <div class="token" *ngFor="let token of tokens">
                {{token.token}}<i *ngIf="token.description">&nbsp;-&nbsp;{{token.description}}</i>
                &nbsp;-&nbsp;
                <div class="count">
                    <div id="square" class="purple">
                        {{token.counter}}
                    </div>
                    <div id="square" class="blue">
                        {{token.countRegistered}}
                    </div>
                    <div id="square" class="green">
                        {{token.countApplied}}
                    </div>
                    <div id="square" class="turquoise">
                        {{token.countTransacting}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ngbAutofocus class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>
