.create-token-form {
    margin-top: 10px;
}
.fa {
    color: #6184FF;
}

.link {
    color: #6280fc !important;
    cursor: pointer;
}

#square {
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
}

.blue {
    background: #6FAEFC;
}

.purple {
    background: #763599;
}

.green {
    background: #b4db46;
}

.turquoise {
    background: #01ba9f;
}

.count {
    display: flex;
    align-items: flex-end;
}

.token {
    display: flex;
    justify-content: flex-end;
}
