<form fxLayout="column" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <h1>Create Login</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="signUpForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field>
            <input id="password" name="password" matInput type="password" placeholder="Enter password" formControlName="password">
            <mat-error *ngIf="signUpForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field>
            <input id="confirmPassword" name="confirmPassword" type="password" matInput placeholder="Confirm password"
            formControlName="confirmPassword">
            
            <mat-error *ngIf="signUpForm.controls.confirmPassword.errors">{{getConfirmPasswordErrorMessage()}}</mat-error>

        </mat-form-field>
    </div>


    <div fxLayout="row" class="rowSpacing" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button type="submit" [disabled]="!signUpForm.valid" mat-raised-button >Sign-Up</button>
    </div>
</form>