<div *ngIf="complete" class="container">
    <!-- Transaction detected in Blockchain! -->
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">&nbsp;</div>
        <div class="col-md-6 text-center">
            <h1>Your Request Complete</h1>
            <br />
            <p class="text-success"><b>We have detected your payment in Blockchain!</b></p>
            <br />
            <p>
                We will notify you shortly with the status of your request.
            </p>
            <p>
                Thank you for submitting your request!
            </p>
            <br />
            <p>
                <a [routerLink]="['/dashboard']" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
            </p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">&nbsp;</div>
    </div>
</div>
<div *ngIf="!complete" class="container">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">&nbsp;</div>
        <div class="col-md-8">
            <app-progress-indicator step="5" [resubmit]="resubmit"></app-progress-indicator>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p>card purchase and handling payment</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div *ngIf="state=='address'" class="row">
        <div class="col text-center">
            <p>
                Pay <b>{{cryptoCurrencyCode}} {{amount}}</b>
            </p>
            <app-crypto-address [currencyCode]="cryptoCurrencyCode" [address]="address" [qrCodeSrc]="qrCodeSrc" (statusChange)="onStatusChange($event)"></app-crypto-address>
        </div>
    </div>
    <div *ngIf="state=='spinner'" class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <p>
                <app-spinner-rect></app-spinner-rect>
            </p>
        </div>
    </div>
    <div *ngIf="state=='timeout'" class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1>Timeout</h1>
            <p>
                Timeout has occurred. Please, obtain a new payment address.
            </p>
            <br />
            <p>
                If you have already made a payment, please, confirm with our Customer Support. You can contact our Customer Support via clicking on Help button in the lower right corner.
            </p>
            <br />
            <p>
                <button type="button" (click)="timeout()" class="btn btn-primary">Back to Payment</button>
            </p>
        </div>
    </div>
    <div *ngIf="state=='error'" class="row">
        <div class="col-sm text-center">
            <h2 class="text-danger">Error</h2>
            <p class="text-danger">An error has occurred. Try again later.</p>
            <p>
                or
            </p>
            <p>
                contact our Customer Support via Help button in the lower right corner.
            </p>
        </div>
    </div>
    <div *ngIf="state=='payment'">
        <div class="row">
            <!--<div class="col-md-3 offset-md-5">-->
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <table class="table">
                    <tr><td class="text-left">Card Purchase</td><td>{{currencyCode}} {{cardCost}}</td></tr>
                    <tr><td class="text-left">Shipping</td><td>{{currencyCode}} {{shippingCost}}</td></tr>
                    <tr><td class="text-right"><b>Total</b></td><td><b>{{currencyCode}} {{total}}</b></td></tr>
                </table>
            </div>
            <div class="col-md-2"></div>
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-4 text-center mt-2">
                <p>
                    Pay with BTC
                </p>
                <button type="button" class="btn btn-link" (click)="payment('BTC')">
                    <img [src]="images['BTC']" class="img-fluid" />
                </button>
                <br />
                <br />
                <button type="button" (click)="payment('BTC')" class="btn btn-primary center-block">Payment</button>
            </div>
            <div class="col-md-2 text-center mt-2">
                <p>
                    Pay with LTC
                </p>
                <button type="button" class="btn btn-link" (click)="payment('LTC')">
                    <img [src]="images['LTC']" class="img-fluid" />
                </button>
                <br />
                <br />
                <button type="button" (click)="payment('LTC')" class="btn btn-primary center-block">Payment</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <br />
                <br />
                <p>
                    We will start processing your application within 2 business days after receiving your payment.
                </p>
            </div>
        </div>
        <div *ngIf="data.theme.showAppJustSubmitButtot" class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <br />
                <p>
                    <button type="button" (click)="justSubmit()" class="btn btn-primary center-block"><app-spinner-round *ngIf="spinning"></app-spinner-round> Virtual Account [Sandbox Only]</button>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <hr />
            <button type="button" (click)="back()" class="btn btn-outline-primary"><< Back</button>&nbsp;
            <button type="button" (click)="payLater()" class="btn btn-outline-primary">Pay Later</button>
        </div>
    </div>
</div>
