<h1>
    Roles
    <button type="button" (click)="getData()" class="btn btn-link">
        <span class="fa fa-refresh" aria-hidden="true"></span>
    </button>
    <button type="button" (click)="showModal(content)" class="btn btn-link">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
    <button class="btn btn-link" (click)="goToUsers()">Users</button>
</h1>

<ngx-datatable class="bootstrap"
               [rows]="roles"
               [loadingIndicator]="loadingIndicator"
               [columnMode]="'force'"
               [headerHeight]="40"
               [summaryRow]="false"
               [summaryPosition]="'bottom'"
               [limit]="20"
               [reorderable]="true"
               [footerHeight]="0"
               [rowHeight]="50"
               [scrollbarV]="false"
               [scrollbarH]="true">

    <ngx-datatable-column name="Name">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-name'] = true"
                  *ngIf="!editing[rowIndex + '-name']">
                {{value}}
            </span>
            <input autofocus
                   (blur)="rowUpdate($event, 'name', rowIndex)"
                   *ngIf="editing[rowIndex+ '-name']"
                   type="text"
                   [value]="value" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <button type="button" (click)="editing[rowIndex + '-name'] = true" class="btn btn-link">
                Edit
            </button>
            <button *ngIf="editing[rowIndex+ '-name']" (click)="rowUpdate($event, 'name', rowIndex)" type="button" class="btn btn-link">
                Save
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add new role</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>           
            <input id="nameRole" name="name" class="form-control" type="text" required [(ngModel)]="nameRole" #name="ngModel">
        </div>    
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="add()" [disabled]="!name">Add New</button>
    </div>
</ng-template>
