$width-start: 500px;
$width-img: 100px;
$width-max: 500px;
$height: 80px;

#toast {
    visibility: hidden;
    max-width: $width-start;
    height: $height;
    margin: auto;
    border-radius: 0px;
    position: fixed;
    z-index: 20000;
    left: 0;
    right: 0;
    top: 20px;
}

#toast #img {
    width: $width-img;
    height: $height;
    float: left;

}

#toast #desc {
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    /*animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;*/
    animation: fadein 0.5s;
}

#toast.hide {
    /*visibility: hidden;*/
    -webkit-animation: fadeout 2.5s 4.5s;
    animation: fadeout 2.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: $width-start
    }

    to {
        min-width: $width-max
    }
}

@keyframes expand {
    from {
        min-width: $width-start
    }

    to {
        min-width: $width-max
    }
}

@-webkit-keyframes stay {
    from {
        min-width: $width-max
    }

    to {
        min-width: $width-max
    }
}

@keyframes stay {
    from {
        min-width: $width-max
    }

    to {
        min-width: $width-max
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: $width-max
    }

    to {
        min-width: $width-start;
    }
}

@keyframes shrink {
    from {
        min-width: $width-max
    }

    to {
        min-width: $width-start;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 20px;
        opacity: 1;
    }

    to {
        top: 0px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 20px;
        opacity: 1;
    }

    to {
        top: 0px;
        opacity: 0;
    }
}
