.comment-dialog {
    display: flex;
}

.img-block {
    margin-right: 10px;
    padding-top: 10px;
}

.nick-block {
    font-size: 13px;
    font-weight: 500;
}

.material-icons {
    font-size: 40px;
}

/*.mat-icon {
    height: 40px;
    width: 40px;
}*/
/*.ytc-img {
    display: block;
    border-radius: 30px;
}*/

.message-block {
    width: 100%;
}

.message {
    width: 100%;
}

.buttons-block {
    display: inline-block;
}

.button-ico {
    padding: 8px;
    font-size: 16px;
}

.count-like {
    font-size: 12px;
}

.comment-block {
    font-size: 14px;
    /*font-weight: 400;
    line-height: 2.1rem;
    line-height: 2rem*/;
    /*color:#111*/
}


