<div class="row" *ngFor="let comment of dataSource">

    <div class="col-md-12 comment-dialog">
        <div class="img-block">
            <mat-icon color="primary" style="width: 40px; height: 40px;">account_circle</mat-icon>
        </div>
        <div class="message-block">
            <div class="row">
                <div class="col-md-12 nick-block">
                    {{ comment.name }}
                </div>
            </div>
            <div class="row">
                <div [innerHTML]="comment.comment" class="col-md-12 comment-block">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 buttons-block">
                    <button mat-icon-button>
                        <mat-icon class="button-ico" color="primary">thumb_up</mat-icon>
                    </button>
                    <span class="count-like">{{ comment.like }}</span>
                    <button mat-icon-button>
                        <mat-icon class="button-ico" color="primary">thumb_down</mat-icon>
                    </button>
                    <span class="count-like">{{ comment.dislike }}</span>
                    <button mat-button>REPLY</button>
                </div>
            </div>
        </div>
    </div>
    <ytc-replies [replies]="comment.replies"></ytc-replies>
</div>
