$topnav-background-color: #222;

:host {
    .navbar {
        background-color: $topnav-background-color;
        font-size: 0.8rem;
        line-height: 2;
        padding-bottom: 0px;
        padding-top: 0px;

        .navbar-brand {
            color: #fff;
        }

        .nav-item > a {
            color: #999;

            &:hover {
                color: #fff;
            }
        }
    }

    /*.messages {
        width: 300px;

        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }

            .small {
                margin: 0;
            }

            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }*/
}

.clock {
    color: #999;
    padding-top: 8px;
}
