<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="{{ isUserLoggedIn? '/dashboard' : '/'}}">
        <img src="assets/images/logo-blue.png" class="d-inline-block align-top" alt="">
        <span style="color: #a2a9c5;"> ADMIN</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item clock">
                <span>{{ Clock }}</span>
            </li>
            <li *ngIf="isUserLoggedIn" class="nav-item">
                <a class="nav-link" [routerLink]="['login']" (click)="logout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'LogOut' | translate }}
                </a>
            </li>
        </ul>
    </div>
</nav>

