.header {
    margin-bottom: 24px;
}

.comment-dialog {
    display: flex;
    //align-items: center;
    //width: 350px;
    /*padding: 5px;*/
}

.img-block {
    margin-right: 10px;
    padding-top: 10px;
}

.material-icons {
    font-size: 40px;
}

.mat-icon {
    height: 40px;
    width: 40px;
}

.message-block {
    width: 100%;
}

.message {
    width: 100%;
}

.button-block {
    text-align: right;
}
