<h1>Application Details</h1>
<app-spinner-rect *ngIf="!data.user && !data.selectApp && !data.shippingAddress && !data.address && !data.cardOrders"></app-spinner-rect>

<!--<div class="clearfix"></div>-->
<ngb-tabset>
    <ngb-tab title="General">
        <ng-template ngbTabContent>
            <br />
            <app-app-general></app-app-general>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Passport">
        <ng-template ngbTabContent>
            <app-app-passport></app-app-passport>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Address">
        <ng-template ngbTabContent>
            <app-app-address></app-app-address>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Shipping">
        <ng-template ngbTabContent>
            <app-app-shipping-address></app-app-shipping-address>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Card Orders">
        <ng-template ngbTabContent>
            <app-app-card-orders></app-app-card-orders>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Integration">
        <ng-template ngbTabContent>
            <app-app-integration></app-app-integration>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<br />
<br />
<div *ngIf="data.user && data.selectApp && data.shippingAddress && data.address" class="row">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Rejection Reason</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal">

                    <select class="form-control" name="rejectReason" [(ngModel)]="rejectReason">
                        <!--<option [ngValue]="undefined" disabled selected> Please select one option </option>-->
                        <option *ngFor="let r of reasonsKeys">{{r}}</option>
                    </select>

                    <br />

                    <div class="alert alert-info" [innerHtml]="reasons[rejectReason]" placeholder="eff"></div>

                    <textarea class="form-control" name="moreInfo" [(ngModel)]="moreInfo" placeholder="Add additional instructions if required..." rows="4"></textarea>

                </form>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="reject()" [disabled]="disableRedeemButton">Reject w/ Reason</button>
        </div>
        <br />
    </ng-template>

    <div *ngIf="data.selectApp">
        <button *ngIf="data.selectApp.status === 'Started' || data.selectApp.status === 'AwaitingPayment'" type="button" class="btn btn-primary mr-1" id="paid-app" (click)="paid()">
            Paid
        </button>
        <button *ngIf="data.selectApp.status == 'Paid' || data.selectApp.status == 'Submitted'" type="button" class="btn btn-primary mr-1"
                id="sendForApproval-btn" (click)="registerAndSendForKYCApproval()">
            Register &amp; Send for KYC Approval
        </button>
        <button *ngIf="data.selectApp.status === 'Processing'" type="button" class="btn btn-primary mr-1" id="approve-app" (click)="createAccountKYC()"
                [disabled]="!data.selectApp.providerAccountNumber || !data.selectApp.providerUserId">
            KYC Approved -> Create Account
        </button>
        <button *ngIf="data.selectApp.status === 'Processing'" type="button" class="btn btn-primary mr-1" id="resubmit-app" (click)="resendForKYCApproval()">
            Re-send for KYC Approval
        </button>
        <button *ngIf="data.selectApp.status === 'Paid' || data.selectApp.status === 'Submitted'" type="button" class="btn btn-primary mr-1" id="reject-btn"
                (click)="showModal(content)">
            Reject
        </button>
        <button *ngIf="data.selectApp.status === 'Approved'" type="button" class="btn btn-primary mr-1" id="shipped-app" (click)="shipped()"
                [disabled]="!data.selectApp.shippingCarrier">
            Shipped
        </button>
        <!--<button *ngIf="data.environmentName != 'Production'" type="button" class="btn btn-primary mr-1" id="create-account-btn" (click)="createAccountKYC()">
            Create Virtual Account [Sandbox Only]
        </button>-->
        <button *ngIf="data.isAdmin" type="button" class="btn btn-primary mr-1" id="delete-btn" (click)="showModalDelete(contentDelete)">
            Delete
        </button>
    </div>
</div>

<ng-template #contentDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm Deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            Are you sure you want to delete this application?
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Delete</button>
    </div>
    <br />
</ng-template>
