table {
  width: 100%;
}

mat-table {
  height: calc(100vh - 66px);
  overflow: auto;
}

mat-row:hover {
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

app-edit-user-dialog {
  width: 100%;
}

.firstName-cell, .lastName-cell, .phoneNumber-cell{
  max-width: 150px;
  justify-content: center;
}
