<div class="container" id="content">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Login</h1>
            <div *ngIf="showError" class="text-danger">Invalid email or password.</div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" class="form-control" required minlength="4" [(ngModel)]="user.email" #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">email is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control" type="password" required minlength="4" [(ngModel)]="user.password" #password="ngModel">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">password is required.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary" [disabled]="loginForm.invalid">
                    <app-spinner-round *ngIf="spinner"></app-spinner-round>
                    Login
                </button>
                <a [routerLink]="['/profile/forgotpassword']" class="btn btn-link">Forgot password?</a>
            </form>
        </div>
    </div>
</div>
