<div class="runner">
    Txn Index: {{info.txnId}} | Value: {{info.amount}} BTC<br />
    <span class="hidden-xs-down">Address: {{info.addr}}</span>
</div>
<br />
<form role="search" class="find-form">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="search transaction by address or transaction id" aria-label="..." name="searchInput" [(ngModel)]="searchInput" #email="ngModel">
        <div class="input-group-btn">
            <button (click)="gotoExplorer()" class="btn btn-outline-primary">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>
</form>
