.container {
    padding: 10px;
    font-size: 75%;
}

// .comment2 {
//     margin-left: 40px;
// }

.mat-icon {
    font-size: 16px;
    color: lightgray;
}

.example-tree-node {
    // display: inline-flex;
    // align-items: center;
    float: left;
    width: 100%;

}

.comment {
    padding-left: 10px;
    width: 100%;
}

.buttons {
    display: inline-block;
}

.new_component {
    margin-top: 30px;
}