@import "../../../../assets/styles/_variables-embily-light.scss";

:host() {
}

.ticker {
    font-size: 0.75rem;
    font-weight: 500; 

    div {
        border-right: 1px solid $gray-400;
    }

    .price {
        font-weight: 700;
    }

    .last {
        border-right: none;
    }
}

