<div class="row ticker">
    <div id="btc" class="col-md-2 col-4 item">
        <span id="btc_label" class="label">BTC</span> <br />
        <span id="btc_price" class="price">{{this.tickers.BTCUSD.price | currency:'USD'}}</span>
        <!--<span id="btc_dailyChange" class="datachange">{{this.tickers.BTCUSD.dailyChange}}</span>
        <span id="btc_dailyChangePercent" class="datapercent">{{this.tickers.BTCUSD.dailyChangePercent}}</span>-->
    </div>
    <div id="eth" class="col-md-2 col-4 item">
        <span id="eth_label" class="label">ETH</span> <br />
        <span id="eth_price" class="price">{{this.tickers.ETHUSD.price | currency:'USD'}}</span>
        <!--<span id="eth_dailyChange" class="datachange">{{this.tickers.ETHUSD.dailyChange}}</span>
        <span id="eth_dailyChangePercent" class="datapercent">{{this.tickers.ETHUSD.dailyChange}}</span>-->
    </div>
    <div id="ltc" class="col-md-2 col-4 item last">
        <span id="ltc_label" class="label">LTC</span> <br />
        <span id="ltc_price" class="price">{{this.tickers.LTCUSD.price | currency:'USD'}}</span>
        <!--<span id="ltc_dailyChange" class="datachange">{{this.tickers.LTCUSD.dailyChange}}</span>
        <span id="ltc_dailyChangePercent" class="datapercent">{{this.tickers.LTCUSD.dailyChangePercent}}</span>-->
    </div>
</div>


