<div *ngIf="isVisible" class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>


  <div gdGap="10px" gdArea="area1" [gdColumns]="columnSplit">

    <mat-card [gdColumn]="'auto / span ' + card.cols" [gdRow]="'auto / span ' + card.rows"
      *ngFor="let card of cards">
      <mat-card-content>
        <img mat-card-image [attr.src]="'/assets/img/cover' + card.imgSrc +  '.jpg'" alt="Photo of a Shiba Inu">
      </mat-card-content>
      <mat-card-footer>
        <div fxLayout="row" class="cardFooter" fxLayoutAlign="space-around start">
          {{ card.title }}
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

</div>