<div *ngIf="isVisible" class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>


  <!-- <mat-grid-tile  | async" [colspan]="card.cols" [rowspan]="card.rows"> -->
  <div gdGap="10px" style="height: calc(100vh - 152px)" gdArea="area1"
  gdColumns="50% 50%">

    <mat-card [gdColumn]="'auto / span ' + card.cols" [gdRow]="'auto / span ' + card.rows"  *ngFor="let card of cards | async">
      <mat-card-header>
        <mat-card-title>
          {{card.title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>Card Content Here</div>
      </mat-card-content>
    </mat-card>
  </div>

</div>