<ngx-datatable class="table_embily_light"
               [rows]="data.affiliateTokens"
               [loadingIndicator]="loadingIndicator"
               [columnMode]="'force'"
               [headerHeight]="40"
               [summaryRow]="false"
               [summaryPosition]="'bottom'"
               [limit]="20"
               [reorderable]="true"
               [footerHeight]="50"
               [rowHeight]="50"
               [scrollbarV]="false"
               [scrollbarH]="true">

    <ngx-datatable-column name="Created (UTC)" [width]="100" prop="dateCreated">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd MMM yyyy' }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Token" [width]="100" prop="token"></ngx-datatable-column>
    <ngx-datatable-column name="Active" [width]="100" prop="isActive"></ngx-datatable-column>
    <ngx-datatable-column name="Suspended" [width]="100" prop="isSuspended"></ngx-datatable-column>
    <ngx-datatable-column name="Affiliate User" [width]="100" prop="user">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span (click)="sort()" class="datatable-header-cell-wrapper draggable">Affiliate User</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='affiliateUserFilter($event, "user")' />
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.firstName }} {{value.lastName }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Affiliate Email" [width]="100" prop="user">
        <ng-template let-sort="sortFn" let-column="column" ngx-datatable-header-template>
            <span  class="datatable-header-cell-wrapper draggable">Affiliate Email</span>
            <br />
            <input style="height: 20px;" class="form-control" placeholder='' (keyup)='affiliateEmailFilter($event, "user")' />
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.email }}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="!data.affiliateTokens">
    <app-spinner-rect></app-spinner-rect>
</div>
