<!-- https://css-tricks.com/couple-takes-sticky-footer/ -->

<footer class="footer">

    <div class="wrapper" id="wrapper-footer">
        <div class="container">
            <div class="row footer-top">
                <div class="footer-logo col-md-2">
                    <a routerLink="/" class="navbar-brand custom-logo-link" rel="home" itemprop="url">
                        <img width="113" height="33" src="assets/images/logo-smaller.png" class="img-fluid" alt="Embily" itemprop="logo" />
                    </a>
                </div>
                <div class="footer-menu-top col-md-10 text-right">
                    <ul class="footer-menu-top-center">
                        <!--<li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299">
                            <a href="https://embily.com/contact-us/">Contact us</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a id="terms-of-use-tab" class="nav-link" role="tab" href="/legal/#terms-of-use">Terms Of Use</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a id="kyc-aml-policy-tab" class="nav-link" role="tab" href="/legal/#kyc-aml-policy">KYC &amp; AML Policy</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a id="privacy-policy-tab" class="nav-link" role="tab" href="/legal/#privacy-policy">Privacy Policy</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a id="cookie-policy-tab" class="nav-link" role="tab" href="/legal/#cookie-policy">Cookies Policy</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a id="registrar-record-tab" class="nav-link" role="tab" href="/legal/#registrar-record">Registrar Record</a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="footer-social col-md-4">
                    <a href="https://www.facebook.com/embily" target="new"><img src="assets/images/icons/Facebook-icon.png" /></a>
                    <a href="https://www.instagram.com/embilysays/" target="new"><img src="assets/images/icons/Instagram-icon.png" /></a>
                    <a href="https://twitter.com/embilysays" target="new"><img src="assets/images/icons/Twitter-icon.png" /></a>
                    <a href="https://www.linkedin.com/company/embily/" target="new"><img src="assets/images/icons/LinkedIn-Icon.png" /></a>
                </div>
                <div class="footer-copyright col-md-8 text-right">
                    <p>
                        The Embily Prepaid Card Program is facilitated by
                        <a href="https://www.ccsprepay.com" rel="nofollow" target="_blank">CreditCard Solutions UK Ltd</a>
                        <br /> CreditCard Solutions UK Ltd(CCS Prepay) is registered in England & Wales | Registration Number: 05394395
                    </p>
                    <p>
                        Embily FZ LLC
                        <br> Units 2201 & 2202, Level 22, Boulevard Plaza, Tower 2,
                        <br />Downtown Dubai, P.O. Box: 74053, Dubai, U.A.E.
                        <br>office@embily.com
                        <br>+971 (0) 4524 7879
                    </p>
                    <p>&copy; {{today | date:'yyyy'}} Embily. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- container end -->
    </div>
    <!-- wrapper end -->

</footer>
