<ngb-alert *ngIf="state == 'processing'" type="info" [dismissible]="false">
    <strong>Processing...</strong>
    <br />
    <app-spinner-rect></app-spinner-rect>
    {{message}}
</ngb-alert>
<ngb-alert *ngIf="state == 'success'" type="success" [dismissible]="false">
    <strong>Success!</strong>
    <br />
    <strong>{{message}}</strong>
</ngb-alert>
<ngb-alert *ngIf="state == 'error'" type="danger" [dismissible]="false">
    <strong>Error!</strong>
    <br />
    <strong>{{message}}</strong>
</ngb-alert>


