<div *ngIf="model" class="container" id="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <app-progress-indicator step="2" [resubmit]="resubmit"></app-progress-indicator>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p>Anti money laundering regulations require us to collect a proof of your identification</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form #form="ngForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <select class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required appForbiddenValue="Uknown">
                        <option value="Uknown"></option>
                        <option>Dr</option>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                    </select>
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                        <div *ngIf="title.errors.required || title.errors.forbiddenValue">Title is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" class="form-control" type="text" required [(ngModel)]="model.firstName" #firstName="ngModel" />
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" class="form-control" type="text" required [(ngModel)]="model.lastName" #lastName="ngModel" />
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-MM-dd"
                                id="dob" name="dob" required [(ngModel)]="model.dateOfBirth" ngbDatepicker #dob="ngbDatepicker" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dob.toggle()" type="button"></button>
                        </div>
                    </div>
                    <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
                        <div *ngIf="dob.errors.required">Date of Birth is required.</div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel" required appForbiddenValue="Uknown">
                        <option value="Uknown"></option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                        <div *ngIf="gender.errors.required || gender.errors.forbiddenValue">Gender is required.</div>
                    </div>
                </div>-->
                <!--<div class="form-group">
                    <label for="maritalStatus">Marital Status</label>
                    <select class="form-control" name="maritalStatus" [(ngModel)]="model.maritalStatus" #maritalStatus="ngModel" required appForbiddenValue="Uknown">
                        <option value="Uknown"></option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                    </select>
                    <div *ngIf="maritalStatus.invalid && (maritalStatus.dirty || maritalStatus.touched)" class="alert alert-danger">
                        <div *ngIf="maritalStatus.errors.required || maritalStatus.errors.forbiddenValue">Marital Status is required.</div>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <select class="form-control" name="nationality" [(ngModel)]="model.nationality" #nationality="ngModel" required>
                        <option *ngFor="let country of countries" [ngValue]="country.iso3">{{country.name}}</option>
                    </select>
                    <div *ngIf="nationality.invalid && (nationality.dirty || nationality.touched)" class="alert alert-danger">
                        <div *ngIf="nationality.errors.required">Nationality is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" class="form-control" type="text" [(ngModel)]="model.phone" #phone="ngModel">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                        <div *ngIf="phone.errors.required">Phone is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" class="form-control" type="text" [(ngModel)]="model.email" #email="ngModel" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email is required.</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <br />
            <p>Please, upload an image of your passport, driver's license, or other form of government issued identification where your name shown in <b>ENGLISH</b>. </p>
            <p>Ensure that the <b>ENTIRE</b> document can be seen including edges and corners.</p>
            <img [src]="passportExample" class="img-fluid" />
            <br />
            <p><i>if your image does not meet these requirements, your application will be rejected.</i></p>
            Passport:
            <br />
            <app-uploadfile #uploadFile1></app-uploadfile>
            <br />
            Selfie:
            <app-uploadfile #uploadFile2></app-uploadfile>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <hr />
            <button type="button" (click)="back()" class="btn btn-outline-primary"><< Back</button>&nbsp;
            <button type="button" (click)="continue()" class="btn btn-primary" [disabled]="form.invalid || uploadFile1.continueDisabled" data-toggle="tooltip" title="Please, make sure you have uploaded the document and filled out all mandatory fields">Continue >></button>
        </div>
    </div>
</div>
